 <div class="refoliobuttonwrap ref-tools-full" style="bottom: 0px;padding-bottom:10px;z-index:999;">
          <div class="refolio_pagination">
            <%= will_paginate @les,class: "page button" %>
          </div>
          <%= link_to "Mobile", root_path, class: "refoliobutton",style: "opacity: 1" %>
          <%= link_to "Web Programing", root_path, class: "refoliobutton",style: "opacity: 1" %>
          <%= link_to "Desktop", root_path, class: "refoliobutton",style: "opacity: 1" %>
          <%= link_to "Network", root_path, class: "refoliobutton",style: "opacity: 1" %>
            <div class="refoliosizes">
           
            </div>
            <span class="fa fa-arrow-circle-down toggle-tools"></span>
            <div class="ref-sorts">
              <span class="sortbyrating icon-star6"></span>
              <span class="sortbydate icon-calendar4"></span>
              <span class="sortbycomments icon-bubbles2"></span>
            </div>
      </div>




<script type="text/javascript">
$(function(){
  $('.toggle-tools').on('click', function(){
        $('.refoliobuttonwrap').toggleClass('ref-tools-full');

 });


  $('.mCSB_container .topnav li').on('click', function(){
            $('.isactive').removeClass('isactive');
            $(this).addClass('isactive');
        });

});
</script>


